@import "../box/sound-box.component.scss";

.box-matrix {
  background: rgb(86, 101, 185);
  display: grid;
//   max-width: 780px;
  width: 100%;
  height: 64vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .box-matrix {
    // width: 100%;
    max-width: 100%;
    height: 100%;
    // justify-content: center;
    // align-items: center;
    // grid-template-columns: repeat(3, minmax(100px, 1fr));
    // grid-template-rows: repeat(3, minmax(100px, 1fr));
    border-radius: 0;
  }
}

@media (max-width: 450px) {
  .box-matrix {
    grid-gap: 12px;
    padding: 12px;
  }
}

@media (max-width: 376px) {
  .box-matrix {
    grid-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 321px) {
  .box-matrix {
    grid-gap: 5px;
    padding: 5px;
  }
}
